* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar Css Starts Here */
.navbarContainer {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarContainer h1 {
    color: #ffffff;
}

.navbarContainer .menuItems a {
    margin: 30px 20px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

/* Navbar Css Ends Here */

/* Footer Starts Here */

.footerContainer {
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    padding: 10px 20px;
    text-align: center;
}

.footerContainer h2 {
    color: #ffffff;
}

/* Footer Ends Here */

/* Home page Starts here */

.HomePageMainContainer {
    margin: 20px 20px;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    padding: 20px 20px;
}

.HomePageMainContainer .homePageFirstChildContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HomePageMainContainer .homePageFirstChildContainer .homePageLeftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homePageLeftContainer .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttonsContainer a {
    height: 50px;
    width: 200px;
    background-color: #6dd5fa;
    padding: 10px 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.HomePageMainContainer .homePageFirstChildContainer .homePageLeftContainer h2 {
    text-align: center;
    color: #ffffff;
}

.imageContainer img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

/* Home page Ends here */